# Set default behavior to automatically normalize line endings
* text=auto

# Enforce LF endings on scripts and code files
*.dart text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
