# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android
**/android/local.properties
**/android/key.properties
**/*.keystore
**/*.jks
**/*.p12
**/*.pepk
/android/app/debug
/android/app/profile
/android/app/release

# iOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Pods/
**/ios/.symlinks/

# Environment and Secrets
*.env
*.env.*
*.secret
service_account.json
*gserviceaccount*.json
test_playstore_connection.py

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Uncommitted Play Store Bundle & Signing Assets
playstore_bundle/
playstore_assets/
*.aab
*.apk
